---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="code" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Infra as Code</h2>
		<p>Terraform, Ansible et Pulumi pour automatiser le provisioning d\'infrastructures AWS/Azure multi-environnements.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="rocket-launch" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>CI/CD & DevOps </h2>
		<p>Pipelines GitLab CI/CD, ArgoCD et GitHub Actions avec tests automatisés et déploiements blue-green.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Monitoring</h2>
		<p>Stack Grafana, Prometheus, Loki et CloudWatch pour une visibilité complète des infrastructures et applications.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
